/* Reset CSS per assicurare una base uniforme */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile generale per il body */
body {
    font-family: Arial, sans-serif;
    background-color:#b48c9b; /* Colore di sfondo */
    color: #333;
    line-height: 1.6;
}

/* Stile per gli elementi di intestazione (titoli, sottotitoli) */
h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin-bottom: 10px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

/* Stile per i paragrafi */
p {
    margin-bottom: 15px;
}

/* Stile per i link che sembrano pulsanti */
a.button,
input[type="submit"],
input[type="button"],
input[type="reset"],
button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #e6d8dd; /* Contorno verde */
    border-radius: 25px; /* Bordi rotondi */
    background-color: #e6d8dd; /* Sfondo verde chiaro */
    color: #333; /* Colore del testo */
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    text-decoration: none; /* Rimuove la sottolineatura per i link */
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Al passaggio del mouse */
a.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
button:hover {
    color: #ffffff;
    background-color: #783153 ; /* Sfondo verde */
    color: #ffffff; /* Testo bianco */
}

/* Al click */
a.button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active,
button:active {
    color: #ffffff;
    background-color: #672042; /* Cambia colore quando è attivo */
    color: #333; /* Testo nero */
}

/* Stile per gli input di tipo text e password */
input[type="text"],
input[type="password"],
input[type="date"] {
    display: inline-block;
    padding: 10px;
    border: 2px solid #e6d8dd; /* Contorno verde */
    border-radius: 5px; /* Bordi rotondi */
    background-color: #e6d8dd; /* Sfondo verde chiaro */
    color: #333; /* Colore del testo */
    font-size: 16px;
    width: 15%; /* Occupa tutta la larghezza disponibile */
    box-sizing: border-box; /* Include il padding nel calcolo della larghezza */
    margin-bottom: 10px; /* Spazio inferiore */
    transition: background-color 0.3s ease;
}

/* Al passaggio del mouse */
input[type="text"]:hover,
input[type="password"]:hover,
input[type="date"]:hover {
    background-color: #783153; /* Sfondo verde */
    color: #ffffff; /* Testo bianco */
}

/* Stile per i tag select */
select {
    display: inline-block;
    padding: 10px;
    border: 2px solid #e6d8dd; /* Contorno verde */
    border-radius: 5px; /* Bordi rotondi */
    background-color: #e6d8dd; /* Sfondo verde chiaro */
    color: #333; /* Colore del testo */
    font-size: 16px;
    width: 10%; /* Occupa tutta la larghezza disponibile */
    box-sizing: border-box; /* Include il padding nel calcolo della larghezza */
    margin-bottom: 10px; /* Spazio inferiore */
    transition: background-color 0.3s ease;
}

/* Stile per gli option nei tag select */
select option {
    padding: 10px;
}

table, td, th {  
    border: 1px solid #333;
    text-align: left;
}
  
table {
    border-collapse: collapse;
    width: 50%;
}
  
th, td {
    padding: 15px;
}

tr:hover {
    background-color: #e6d8dd; /* Sfondo verde */
    color: #333; /* Testo bianco */
}